/*----------fonts--------*/

@font-face {
    font-family: 'chunkfiveregular';
    src: url('../fonts/chunkfive-webfont-webfont.woff2') format('woff2'),
         url('../fonts/chunkfive-webfont-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'proxima_novathin';
    src: url('../fonts/proximanovat_thin-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'proxima_novasemibold';
    src: url('../fonts/proximanova_semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'proxima_novaregular';
    src: url('../fonts/proximanova_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'proxima_novalight';
    src: url('../fonts/proximanova_light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'proxima_novablack';
    src: url('../fonts/proximanova_black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


/*element style--------*/

.bold{
  font-size: 30px;
  color: #020304;
  font-family:'proxima_novasemibold' , sans-serif;
}

html {
    position: relative;
    min-height: 100%;
    margin: 0;
    padding: 0;
}



section{
    margin-top: 100px;
    margin-bottom: 50px;
    width: 100%;
}


h1, h2{
  font-family: 'chunkfiveregular' , sans-serif;
}

  h2{
    font-size: 45px;
    color: #020304;
    position: relative;
    z-index: 1;
    overflow: hidden;
    text-align: center;
  }
  h2:before, h2:after {
    position: absolute;
    top: 51%;
    overflow: hidden;
    width: 50%;
    height: 1px;
    content: '\a0';
    background-color: red;
}
h2:before {
    margin-left: -50%;
    text-align: right;
}

h3{
  font-size: 25px;
  font-family:'proxima_novasemibold' , sans-serif;
  color:  #020304;
  margin-top: 30px;
}

.value-heading::after {
  border-bottom: 1px solid red;
  bottom: 0;
  content: "";
  height: 1px;
  position: absolute;
  width: 400px;
  left:50%;
  transform: translateX(-50%);
}


p{
  font-family:'proxima_novasemibold' , sans-serif;
}

a {
    color: #fff;
    text-decoration: none;
}

#footer{
  background-image: url(../img/footer.png);
  background-position: center;
  width: 100%;
  background-repeat: no-repeat;
}

/*---nav styles----------*/
nav, .navbar .navbar-fixed-top{
    margin-bottom: 0!important;
    height: 80px;
}
.navbar-fixed-top {
  background-color: #fff;
  border-color: transparent;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 80px;
  z-index: 4;
}

.navbar-right {
    margin-right: 20px;
    padding-top: 25px;
    background:transparent!important;
}

.navbar-fixed-top .navbar-brand {
    color:#c1282d;
}

.navbar-brand .logo{
    float: left;
    height: 60px;
    padding-bottom: 10px;
}

.navbar-fixed-top .navbar-nav>li>a {
    color:#c1282d;
    font-size: 22px;
    background:#fff;
    font-family: 'proxima_novasemibold', sans-serif;
    font-weight: 400;
}
.navbar-fixed-top .navbar-nav>.open>a, .navbar-fixed-top .navbar-nav>.open>a:focus, .navbar-fixed-top .navbar-nav>.open>a:hover {
    color: #fff;
    background-color: #c1282d;
}
.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: #c1282d;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
    color:#fff;
}



.dropdown-menu>li>a{
    color: #fff;
    font-size: 15px;
}
.navbar-right{
    margin-right: 20px;
}


/*-------header styles-------*/

.parrallax-header{
    height: 710px;
    /* The image used */
    background:url(../img/header2.png);

    /* Set a specific height */
    height: 710px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}



.jumbotron{
    background: transparent;
    margin-top: 45px;
    color:#fff;
    width:100%;
}

.header-text-color{
    color: #c1282d;
    font-size: 90px;
}

.jumbotron h1{
    margin-bottom: 25px;
    font-size: 80px;
    letter-spacing: 3px;
    font-family:  'chunkfiveregular' , sans-serif!important;
}

.jumbotron p {
    margin-bottom: 25px;
    font-size: 30px;
    font-family: 'proxima_novasemibold' , sans-serif;

}
.btn-primary{
    background:#c1282d;
    color:#fff;
    border:none;
    box-shadow: 3px 5px 5px rgba(0,0,0,0.5);
    margin-right: 20px;
    font-family: 'proxima_novathin' , sans-serif;
    padding:15px;
}
.btn-primary:hover{
    background:#fff;
    color: #c1282d;
    -webkit-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
}

.social a{
    color: #fff;
}

.social a:hover{
    color: #c1282d;
    -webkit-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
}




  /*-------------About Section----------*/

.about-description-wrapper{
  margin-bottom: 20px;
}
.about-text-color{
    color:#c1282d;
    font-size: 50px;
}
.about-content{
    height: 400px;
    text-align: center;
    padding:20px;
    font-size: 20px;
    font-family: 'proxima_novasemibold' , sans-serif;
}

.about-text{
  padding:50px;
  font-size: 30px;
  background: #fff;
  color: #020304;
  border-bottom: 1px solid #c1282d;
}



/*-------Team Section Styles---------*/
.parrallax { 
    /* The image used */
    background-image: url(../img/team-header.png);

    /* Set a specific height */
    height: 550px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#team{
  background:transparent;
  width: 100%;
}

.member-header-background{
  background:#fff;
  border-bottom-left-radius:10px;
  border-bottom-right-radius:10px;
  box-shadow: 2px 2px rgba(0,0,0,0.4);
}
.member-heading{
  margin-top: 40px;
}
.member-text-color{
  color: #fff;
  font-size: 50px;
}

.member-wrapper{
 background:transparent;
  border-radius: 10px;
  padding:20px;
  margin-left: auto;
  margin-right: auto;
  min-height: 480px;
}
.member-content{
  background:transparent;
  text-align: center;
  padding:20px;
  color: #fff;
  font-family: 'proxima_novasemibold' , sans-serif;
  font-size: 15px;
  margin-top:0px;
  font-weight: bold;
}

.text-content{
  margin:0;
}
.member-text{
  margin: 0;
}

/*----------Client Section Styles------------*/

.clients{
  color: #c1282d;
}

.clients-wrapper{
  margin-top: 50px;
  width: 100%;
  margin-bottom: 50px;
}

#clients-jumbotron{
  max-height: 600px;
  margin-top: 50px;
  margin-bottom:50px;
  background:#fff;
  padding:20px;
  color: #020304;
  font-family: 'proxima_novasemibold' , sans-serif;
  font-size: 15px;
  border-bottom: 1px solid #c1282d;
  border-left: 1px solid #c1282d;
  border-right: 1px solid #c1282d;
  border-radius: 0;
}

.clients-text-jumbotron{
  margin-right: 20px;
  margin-left: 20px;
  padding:40px;
}

  .product-btn{
    width: 200px!important;
  }

  .survey-btn{
    width: 300px!important;
  }




  /*--------Connect Styles-----------*/
.connect-parrallax{
     /* The image used */
    background-image: url(../img/connect.png);

    /* Set a specific height */
    height: 200px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 120px;
}

.connect-text-color{
  color:#c1282d!important;
  font-size: 35px;
}

.connect{
  font-size: 30px;
  color: #fff;
  padding:0;
}

.connect-button{
  margin-top: -10px;
  margin-bottom: 0px;
  margin-left: 30px;
  padding:5px;
  width: 100px;
  height: 30px;
  box-shadow: 0px 0px #000;
  background-color:#c1282d;
  color: #fff;
}


/*----------Product Page Styles------------*/
.products-wrapper{
  margin-top: 50px;
  margin-bottom: 20px;
}
.products-button{
  width: 400px;
  margin-top: 20px;
  margin-bottom: 10px;
}

.product-spacer{
  margin-top: 50px;
}

.product-img{
  margin-top: 10px;
  border-radius: 10px;
  box-shadow: 2px 2px rgba(0,0,0,0.4);
}


/*----------Value Page Styles------------*/
.spacer{
  margin-top: 100px;
}
.rates-wrapper{
  margin-top: 50px;
}

.rates-heading{
  font-size: 20px;
  color: #fff;
  background:#c1282d;
  padding: 10px;
  border-radius: 10px;
}

.panel-default{
  min-height: 500px;
  margin-top: 20px;
}

.panel-heading{
  background:#c1282d!important;
  color: #fff!important;
  text-align: center;
  font-size: 20px;
  font-family: 'proxima_novasemibold' , sans-serif;
}
.summary-heading{
  width: 100px;
  height: 51px;
}


/*-------Pricing Page Styles-----------*/
.pricing-heading{
  font-size: 30px;
  color: #fff;
  background:#c1282d;
  padding:10px;
  border-radius: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.pricing-list{
  width: 300px;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  margin-top: 20px;
}
h4{
  font-size: 20px;
  color: #fff;
  background:#c1282d;
  padding:10px;
  border-radius: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.pricing-list-wrapper{
  margin:20px 0 80px 0;
  font-size: 20px;
  font-family: 'proxima_novasemibold' , sans-serif;
  color: #020304;
  padding: 20px;
  width: 100%;
  min-width: 300px;
  list-style-type: circle;
}

/*-------Find my Photos Page Styles-------*/

#photos-jumbotron{
  background-image: url(../img/findmyphotos.png);
  height: 400px;
  width: 100%;
  background-size: cover;
  background-position: center;
  width: 100%;
  font-size: 30px;
  font-family: 'proxima_novasemibold' , sans-serif;
  border-radius: 20px;
}

.photos-text{
  padding-right:100px;
  margin-top: 0px;
  max-width: 500px;
  width: 100%;

}



/*contact Page Section
/*Contact sectiom*/
.getintouch{
  color: #fff;
}
.section-content{
  text-align: center; 

}
#contact{
    
    font-family: 'Teko', sans-serif;
  padding-top: 60px;
  width: 100%;
  width: 100vw;
  height: 550px;
  background: #3a6186; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #c1282d, #020304); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #020304 ,  #c1282d); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color : #fff;    
}
.contact-section{
  padding-top: 40px;
}
.contact-section .col-md-6{
  width: 50%;
}

.form-line{
  border-right: 1px solid #B29999;
}

.form-group{
  margin-top: 10px;
}
label{
  font-size: 1.3em;
  line-height: 1em;
  font-weight: normal;
}
.form-control{
  font-size: 1.3em;
  color: #080808;
}
textarea.form-control {
    height: 135px;
   /* margin-top: px;*/
}

.submit{
  font-size: 1.1em;
  float: right;
  width: 150px;
  background-color: transparent;
  color: #fff;

}


/*-----------Connect with us Styles-------*/

ul, .connect-social{
  list-style-type: none;
  text-align: center;
  margin:0px;
  padding: 0;
}
.social{
  display: inline-block;
  padding: 10px;
}

/*----------Footer Styles------------*/

footer{
  width: 100%;
  background-image: url(../img/footer.png);
  background-position: center;
  background-repeat: no-repeat;

}

.footer-logo{
    height: 100px;
    width: 300px;
    text-align: center;
}

.social-footer{
  display: inline-block;
  padding: 10px;
}

.social-footer a{
    color:#c1282d;
}

.social-footer a:hover{
    color: #020304;
    -webkit-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
}



/*----------media queries----------*/

@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {

/*--------------Nav Styles------------*/

.navbar-fixed-top.open .dropdown-menu {
    position: static;
    float: none;
    width: 100%;
    margin-top: 0;
    background-color:#c1282d;
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.navbar-fixed-top .navbar-nav .open .dropdown-menu>li>a {
    color: #020304;
}

.navbar-default .navbar-nav>li>a {
    color: #c1282d;
    font-size: 22px;
    background: #fff;
    font-weight: 400;
    border:1px, solid #000;
}

.navbar-fixed-top .navbar-nav>li>a:focus, .navbar-fixed-top .navbar-nav>li>a:hover {
    color: #020304;
    background-color: #fff;
}
  

  .navbar-nav.nav-justified > li{
    float:none;
  }   


/*-----------------Header Styles---------*/
.parrallax-header {
    height: 800px;
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.4) 0%,rgba(0,0,0,0.4) 100%), url(../img/header2.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

  /*-------------About Section----------*/

.about-text-color{
    color:#c1282d;
    font-size: 50px;
}
.about-text{
  padding:20px;
  font-size: 30px;
  background: #fff;
  border-radius: 10px;
  margin-top: 20px;
  color: #020304;
  text-align: left;
}

.about-content{
    height: 400px;
    text-align: center;
    padding:20px;
    font-size: 20px;
    font-family: 'proxima_novasemibold' , sans-serif;
}

.text-content{
  font-size: 30px;
  margin-top: 0px;
  color: #020304;
  padding:10px 50px 10px 50px;
  text-align: left;
}

.member-content{
  font-size: 30px;
  color: #020304;
  padding:20px;
}
#about{
  height: 1550px;
}

.parrallax { 
    /* The image used */
    background:#fff;

    /* Set a specific height */
    height:10px; 

}
.member-header-background {
    background: transparent;
    border-radius:10px;
    box-shadow: 2px 2px rgba(0,0,0,0.4);
}

.member-wrapper{
  background-color: transparent;
  border-radius: 0px;
}

.member-background-small{
  background-color: #013A6B;
  background-image: -webkit-linear-gradient(90deg, #fff 60%, #c1282d 30%);
  border-radius: 0px;
}


#team{
  height: 2100px;
}

.connect-parrallax{
     /* The image used */
    background: #333;

    /* Set a specific height */
    height: 200px; 
}

/*------Product Page Styling------*/
.product-img{
  margin-top: 10px;
  border-radius: 10px;
  box-shadow: 2px 2px rgba(0,0,0,0.4);
  width: 100%;
}



}


/* ----------- iPhone 6, 6S, 7 and 8 ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) { 

h2 {
    font-size: 30px;
    color: #020304;
    position: relative;
    z-index: 1;
    overflow: hidden;
    text-align: center;
}
  h2:before, h2:after {
    display: none;
}
h2:before {
    display: none;
}

    li a{
      color: #fff;
    }
    .navbar-brand {
    float: left;
    height: 50px;
    padding: 15px 30px;
    font-size: 30px;
    line-height: 20px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
}
.navbar-fixed-bottom .navbar-collapse, .navbar-fixed-top .navbar-collapse {
    min-height: 340px;
    width: 420px;

}
    
   .navbar-fixed-top .navbar-toggle {
    border-color: #c1282d;
}

 .navbar-fixed-top .navbar-toggle .icon-bar {
    background-color: #c1282d;
}
.navbar-fixed-top .navbar-nav>.open>a, .navbar-fixed-top .navbar-nav>.open>a:focus, .navbar-fixed-top .navbar-nav>.open>a:hover {
    color: #fff;
    background-color: #c1282d;
    box-shadow: 2px 2px rgba(0,0,0,.2);
}
.navbar-nav .open .dropdown-menu {
    position: static;
    float: none;
    width: auto;
    margin-top: 0;
    background-color: #c1282d;
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    text-align: left;
}
.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 420px;
    padding: 5px 0;
    margin: 0;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: #c1282d;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
    color: #fff;
    text-align: center;
}

.parrallax-header {
    height: 710px;
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.4) 0%,rgba(0,0,0,0.4) 100%), url(../img/header2.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.jumbotron{
    background: transparent;
    margin-top: 120px;
    color:#fff;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.social-icons-small a{
    color: #fff;
}

.social-icons-small a:hover{
    color: #c1282d;
    -webkit-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
}


.parrallax { 
    /* The image used */
    background:#fff;

    /* Set a specific height */
    height:10px; 

}
.jumbotron h1{
    margin-bottom: 20px;
    font-size: 40px;
    letter-spacing: 3px;
    font-family:  'chunkfiveregular' , sans-serif!important;
}
.header-text-color{
    color: #c1282d;
    font-size: 40px;
}

  /*-------------About Section----------*/
#about{
  height: 1800px;
  margin:0;
}

.about-text-color{
    color:#c1282d;
    font-size: 30px;
}
.about-content{
    height: 400px;
    padding:20px;
    font-size: 20px;
    font-family: 'proxima_novasemibold' , sans-serif;
}

.about-text{
  padding:50px;
  font-size: 20px;
  background: #fff;
  border-radius: 10px;
  margin-top: 20px;
  color: #020304;
  text-align: left;
}


/*-------Team Section Styles---------*/
.member-background-small{
  background-color: #013A6B;
  background-image: -webkit-linear-gradient(90deg, #fff 60%, #c1282d 30%);
  border-radius: 0px;
}

.member-header-background {
    background: #fff;
   border-radius: 10px;
    box-shadow: 2px 2px rgba(0,0,0,0.4);
}
.text-content{
  font-size: 20px;
  margin-top: 0px;
  color: #020304;
  padding:10px 50px 10px 50px;
  text-align: left;
}

.member-content{
  font-size: 20px;
  color: #020304;
  padding:20px;
}

#team{
  width: 100%;
  border-top: 1px solid #828383;
  height: 2000px;
}


  /*-------------Client Section Styles----------*/

  .product-btn{
    margin-top: 20px;
  }

  .clients-jumbotron-text{
    font-size: 20px!important;
  }

    /*--------Connect Styles-----------*/
.connect-parrallax{
     /* The image used */
    background-image: url(../img/connect.png);

    /* Set a specific height */
    height: 200px; 

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 120px;
}


/*---------Product Page Styling------------*/
.products-button{
  min-width: 300px;
  margin-top: 20px;
  margin-bottom: 10px;
  width: 100%;
}


/*----------Photos Page Styling --------*/
#photos-jumbotron {
    height: 500px;
    width: 100%;
    background-size: cover;
    background-position: center;
    width: 100%;
    font-size: 30px;
    font-family: 'proxima_novasemibold' , sans-serif;
    border-radius: 20px;
    margin-top:20px;

}   
.photos-text{
  padding-right:0px;
  margin-top: 0px;
  max-width: 500px;
  width: 100%;
  font-size: 20px;

}

/*-------Pricing Page-----------*/
.pricing-heading {
    font-size: 20px;
    color: #fff;
    background: #c1282d;
    padding: 10px;
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}


/*---------Contact Page---------*/

#contact{
  width: 100%;
  height: 800px;
}
.getintouch {
    color: #fff;
    font-size: 30px;
}
.contact-text-color {
    color: #c1282d;
    font-size: 35px;
}
.contact-section .col-md-6 {
    width: 100%;
}
.submit {
    font-size: 1.1em;
    float: none;
    width: 150px;
    border-radius: 5px;
    box-shadow: 2px 2px rgba(0,0,0,.6);
    background-color: #fff;
    color: #c1282d;
}
.submit {
    font-size: 1.1em;
    float: none;
    width: 150px;
    border-radius: 5px;
    box-shadow: 2px 2px rgba(0,0,0,.6);
    background-color: #fff;
    color: #c1282d;
}
}




