/*----------fonts--------*/

@font-face {
    font-family: 'chunkfiveregular';
    src: url('../fonts/chunkfive-webfont-webfont.woff2') format('woff2'),
         url('../fonts/chunkfive-webfont-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'proxima_novathin';
    src: url('../fonts/proximanovat_thin-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'proxima_novasemibold';
    src: url('../fonts/proximanova_semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'proxima_novaregular';
    src: url('../fonts/proximanova_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'proxima_novalight';
    src: url('../fonts/proximanova_light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'proxima_novablack';
    src: url('../fonts/proximanova_black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


/*element style--------*/

section{
    margin-top: 100px;
    margin-bottom: 100px;
    width: 100%;
}

hr{
width: 100%;
margin-left: auto;
margin-right: auto;
background-color: #c1282d;
height: 4px;
}

.hr-2{
width: 100%;
margin-left: auto;
margin-right: auto;
background-color: #fff;
height: 4px;
}

h1, h2{
  font-family: 'chunkfiveregular' , sans-serif;
}

  h2{
    font-size: 45px;
    color: #020304;
  }

p{
  font-family:'proxima_novasemibold' , sans-serif;
}

/*---nav styles----------*/
nav, .navbar .navbar-default{
    margin-bottom: 0!important;
    height: 80px;
}
.navbar-default {
  background-color: #fff;
  border-color: transparent;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 80px;
  z-index: 4;
  opacity: .9;
}

.navbar-right {
    margin-right: 20px;
    padding-top: 25px;
    background:transparent!important;
}

.navbar-default .navbar-brand {
    color:#c1282d;
}

.navbar-brand .logo{
    float: left;
    height: 60px;
    padding-bottom: 10px;
}

.navbar-default .navbar-nav>li>a {
    color:#c1282d;
    font-size: 22px;
    background:#fff;
    font-family: 'proxima_novasemibold', sans-serif;
    font-weight: 400;
}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
    color: #fff;
    background-color: #c1282d;
}
.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: #c1282d;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
    color:#fff;
}



.dropdown-menu>li>a{
    color: #fff;
    font-size: 15px;
}
.navbar-right{
    margin-right: 20px;
}


/*-------header styles-------*/

header{
    width:100%;
    height: 710px;
    background:url(../img/header2.png);
    background-position: center;
    background-repeat: no-repeat;
    margin:0;
   padding: 0;
}

.jumbotron{
    background: transparent;
    margin-top: 45px;
    color:#fff;
    width:100%;
}

.header-text-color{
    color: #c1282d;
    font-size: 90px;
}

.jumbotron h1{
    margin-bottom: 25px;
    font-size: 80px;
    letter-spacing: 3px;
    font-family:  'chunkfiveregular' , sans-serif!important;
}

.jumbotron p {
    margin-bottom: 25px;
    font-size: 30px;
    font-family: 'proxima_novasemibold' , sans-serif;

}
.btn-primary{
    background:#c1282d;
    color:#fff;
    border:none;
    box-shadow: 3px 5px 5px rgba(0,0,0,0.5);
    margin-right: 20px;
    font-family: 'proxima_novathin' , sans-serif;
    padding:15px;
}
.btn-primary:hover{
    background:#fff;
    color: #c1282d;
    -webkit-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
}

.photos-btn{
   background:#828383;
   color: #fff;
}

.social-icons {
    margin-left: 20px;
    margin-top: 5px;
}
.social-icons a{
    color: #fff;
}

.social-icons a:hover{
    color: #c1282d;
    -webkit-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
}
i {
    margin-right: 5px;
}



  /*-------------About Section----------*/

.about-text-color{
    color:#c1282d;
    font-size: 50px;
}
.about-content{
    height: 400px;
    text-align: center;
    padding:20px;
    font-size: 20px;
    font-family: 'proxima_novasemibold' , sans-serif;
}

.about-text{
  padding:50px;
  font-size: 30px;
  background: #f2f2f2;
  border-radius: 10px;
  margin-top: 20px;
  color: #020304;
}



/*-------Team Section Styles---------*/
#team{
  height: 520px;
  border-top: 1px solid #828383;
}

.member-heading{
  margin-top: 40px;
}
.member-text-color{
  color: #c1282d;
  font-size: 50px;
}

.member-wrapper{
  background:#fff;
  border-radius: 10px;
  padding:20px;
  box-shadow: 6px 5px 5px rgba(0,0,0,0.5);
  margin-left: auto;
  margin-right: auto;
}
.member-content{
  background:#c1282d;
  text-align: center;
  padding:20px;
  color: #020304;
  font-family: 'proxima_novasemibold' , sans-serif;
  margin-top:20px;
}




/*----------Footer Styles------------*/

footer{
  width: 100%;
  text-align: center;
  margin:0;

}
.footer-logo{
    height: 100px;
    width: 300px;
    text-align: center;
}



/*----------media queries----------*/

@media (max-width: 767px){
.navbar-nav .open .dropdown-menu {
    position: static;
    float: none;
    width: 100%;
    margin-top: 0;
    background-color:#c1282d;
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.navbar-default .navbar-nav .open .dropdown-menu>li>a {
    color: #020304;
}

.navbar-default .navbar-nav>li>a {
    color: #c1282d;
    font-size: 22px;
    background: #fff;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    border:1px, solid #000;
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
    color: #020304;
    background-color: #fff;
}

}


/* ----------- iPhone 6, 6S, 7 and 8 ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) { 

    .navbar-brand {
    float: left;
    height: 50px;
    padding: 15px 30px;
    font-size: 30px;
    line-height: 20px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
}
    
    .navbar-default .navbar-toggle {
    border-color: #c1282d;
}

    .navbar-default .navbar-toggle .icon-bar {
    background-color: #c1282d;
}

header{
    width:100%;
    height: 670px;
    background: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url("../img/header2.png") no-repeat center; 
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
    margin:0;
    padding: 0;
}

.jumbotron{
    background: transparent;
    margin-top: 120px;
    color:#fff;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.social-icons-small a{
    color: #fff;
}

.social-icons-small a:hover{
    color: #c1282d;
    -webkit-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
}
#team{
  height: 800px;
  border-top: 1px solid #828383;
}
.jumbotron h1{
    margin-bottom: 20px;
    font-size: 40px;
    letter-spacing: 3px;
    font-family:  'chunkfiveregular' , sans-serif!important;
}
.header-text-color{
    color: #c1282d;
    font-size: 40px;
}

  /*-------------About Section----------*/

  h2{
    font-size: 40px;
    color: #020304;
  }
.about-text-color{
    color:#c1282d;
    font-size: 40px;
}
.about-content{
    height: 400px;
    padding:20px;
    font-size: 20px;
    font-family: 'proxima_novasemibold' , sans-serif;
}

.about-text{
  padding:50px;
  font-size: 20px;
  background: #f2f2f2;
  border-radius: 10px;
  margin-top: 20px;
  color: #020304;
  text-align: left;
}


/*-------Team Section Styles---------*/
#team{
  width: 100%;
  border-top: 1px solid #828383;
  height: 400px;
}

.member-heading{
  margin-top: 40px;
}
.member-text-color{
  color: #c1282d;
  font-size: 40px;
}

.member-wrapper{
  background:#fff;
  border-radius: 10px;
  padding:20px;
  box-shadow: 6px 5px 5px rgba(0,0,0,0.5);
  width: 100%;
}
.member-content{
  background:#c1282d;
  text-align: center;
  padding:0px;
  color: #020304;
  font-family: 'proxima_novasemibold' , sans-serif;
  margin-top:20px;
  font-size: 15px;
}

.photos-btn{
   background:#828383;
   color: #fff;
}
}




