
nav, .navbar .navbar-default{
    margin-bottom: 0!important;
    height: 60px;
}
.navbar-default {
  background-color: #fff;
  border-color: transparent;
  background-image: url("../img/nav.png");
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 55px;
  z-index: 4;


}

.navbar-default .navbar-brand {
    color: #d60b18;
}

.navbar-brand {
    float: left;
    height: 50px;
    padding: 15px 15px;
    font-size: 30px;
    line-height: 20px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
}

.navbar-default .navbar-nav>li>a {
    color: #d60b18;
    font-size: 22px;
    background:#fff;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
    color: #fff;
    background-color: #d60b18;
}
.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: #d60b18;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
    color:#fff;
}

.dropdown-menu>li>a{
    color: #fff;
    font-size: 15px;
}
.navbar-right{
    margin-right: 20px;
}

header{
    width:100%;
    height: 710px;
    background:url(../img/header2.png);
    background-position: center;
    background-repeat: no-repeat;
    margin:0;
   padding: 0;
}

.jumbotron{
    background: transparent;
    margin-top: 45px;
    color:#fff;
    width:700px;
}
.header-text-color{
    color: #d60b18;
    font-size: 90px;
}
.jumbotron h1{
    margin-bottom: 25px;
    font-size: 80px;
    font-weight: 600;
}

.jumbotron p {
    margin-bottom: 25px;
    font-size: 30px;
    font-weight: 400;
}
.btn-primary{
    background:#d60b18;
    color:#fff;
    border:none;
    box-shadow: 3px 5px 5px rgba(0,0,0,0.5);
}

.social-icons{
    margin-left: 20px;
    margin-top: 5px;
}
i{
    margin-right: 10px;
}